body {
    /* background-color: #7d7d7d; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: auto;    
}

.daigram__title {
    text-align: center;
}

.diagram {    
    width: 1250px;
    height: 650px;
    padding: 10px;    
    border: 2px solid black;
}

.diagram__menu {
    margin-top: 20px;
}