.container {
    width: 600px;
    height: 600px;
    margin: auto;    
    border-spacing: 0;
}

td {    
    border-collapse: collapse;
    width: 60px;
    height: 60px;
}

h2 {
    text-align: center;
}